<section class="sobre">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Sobre mim...</h1>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-10 text-justify">
                <p>
                    Apaixonada por tecnologias web, casada e mãe de
                    cachorro. Especialista angular, experiência em
                    desenvolvimento front-end de sistemas, sites, ecommerce e
                    design responsivo.
                </p>

                <p>
                    Busco sempre coisas novas que possam me desafiar e pessoas
                    que compartilhem das mesmas paixões para troca conhecimento
                    e aprendizado no dia a dia. Acredito que não há maior forma
                    de crescer do que dividindo o conhecimento, por isso tento
                    sempre passar o que sei as pessoas próximas a mim e aprender
                    com elas também.
                </p>
                <p>
                    Amo viajar, conhecer pessoas e culturas, assistir séries de
                    muitas temporadas (formada em medicina por Greys Anatomy ♥), curtir minha casa e minha família.
                </p>
            </div>
        </div>
    </div>
</section>
