<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" fixedInViewport>
        <app-fixed-menu></app-fixed-menu>
    </mat-sidenav>

    <mat-sidenav-content>
        <!-- <router-outlet></router-outlet> -->
        <mat-toolbar>
            <mat-toolbar-row>
                <!-- <h3 class="visible-sm">Juliana Dobbin</h3> -->
                <span class="spacer"></span>
                <a (click)="scroll(sobre)">sobre mim</a>
                <a (click)="scroll(habilidades)">competências</a>
                <a (click)="scroll(cursos)">cursos</a>
                <a (click)="scroll(formacao)">formação</a>
                <a (click)="scroll(experiencia)">experiência</a>

                <i class="flaticon-menu" (click)="sidenav.toggle()"></i>
            </mat-toolbar-row>
        </mat-toolbar>
        <div #sobre>
            <app-sobre></app-sobre>
        </div>
        <div #habilidades>
            <app-habilidades></app-habilidades>
        </div>
        <div #cursos>
            <app-cursos> </app-cursos>
        </div>
        <div #formacao>
            <app-formacao></app-formacao>
        </div>
        <div #experiencia>
            <app-experiencia></app-experiencia>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
