<section class="habilidades">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Competências</h1>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-10">
                <p class="text-justify">
                    Pelos quase {{experiencia}} anos de expêriencias na minha carreira, tive
                    a oportunidade de trabalhar em diferentes ambientes e com
                    diferentes tecnologias. Desde os sites utilizando apenas
                    HTML, CSS e alguns plugins jQuery, desenvolvimento de layout
                    em diferentes plataformas de ecommerce, como complexos
                    sistemas utilizando Angular, fazendo a conexão com o backend
                    (python, C#, java) através de apis REST. Abaixo tentei
                    listar um pouco do que ja trabalhei, segue a legenda ;)
                </p>
                <div class="legenda">
                    <ul class="list-inline">
                        <li class="list-inline-item alto">
                            sei bastante, mas não tudo
                        </li>
                        <li class="list-inline-item medio">
                            Já utilizei e conheço bem
                        </li>
                        <li class="list-inline-item baixo">
                            Conheço pouco, mas consigo me virar
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-10">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <h2>Frameworks</h2>
                        <ul>
                            <li class="alto">Angular</li>
                            <li class="alto">Angular Material</li>
                            <li class="alto">Boostrap</li>
                            <li class="alto">jQuery</li>
                            <li class="medio">Jasmine</li>
                            <li class="medio">Primefaces</li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-4">
                        <h2>Tecnologias</h2>
                        <ul>
                            <li class="alto">HTML</li>
                            <li class="alto">CSS</li>
                            <li class="medio">Javascript</li>
                            <li class="medio">Typescript</li>
                            <li class="alto">Sass, Scss</li>
                            <li class="alto">REST</li>
                            <li class="baixo">Amazon S3</li>
                            <li class="baixo">Amazon Route53</li>
                            <li class="baixo">Amazon CloudFront</li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-4">
                        <h2>Gerenciamento</h2>
                        <ul>
                            <li class="medio">Scrum</li>
                            <li class="medio">Kanban</li>
                            <li class="medio">Jira</li>
                            <li class="medio">Redmine</li>
                            <li class="medio">Trello</li>
                            <li class="medio">Git</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <h2>Automação</h2>
                        <ul>
                            <li class="medio">Jenkins</li>
                            <li class="medio">Webpack</li>
                            <li class="medio">Gulp</li>
                            <li class="medio">Grunt</li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-4">
                        <h2>UX</h2>
                        <ul>
                            <li class="medio">Photoshop</li>
                            <li class="alto">MarvelApp</li>
                            <li class="medio">InvisionApp</li>
                            <li class="baixo">Illustrator</li>
                            <li class="baixo">CorelDraw</li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-4">
                        <h2>Ecommerce</h2>
                        <ul>
                            <li class="baixo">VTEX</li>
                            <li class="alto">Loja Integrada</li>
                            <li class="medio">SIS Commerce</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
